body {
  margin: 0;
  padding: 0;
  background-image: url("walking-dog.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #ffffff;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#counter {
  margin: 30px auto;
  padding: 20px;
  max-width: 220px;
  background-color: #62574b;
  color: white;
  border-radius: 20px;
  border: 2px solid #9e9790;
  box-shadow: 4px 6px 4px 2px #00000066;
}

#increment-btn {
  background: #492d1d;
}

#save-btn {
  background: #215059;
}