@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
  border-radius: 1rem;
}

html {
  font-family:"Inter", sans-serif;
  font-size: 10px; 
  color:#fff
}

body {
  background: #1C1C1C;
}

h1 {font-size: 2.8rem;}
h2 {font-size: 2rem; color: #CCC1FF}
p {font-size: 1.4rem;}

.container {
  margin: 2rem 2rem;
  max-width: 40rem;
  background: #1F2937;
  overflow: hidden;
}

.input-area {
  text-align: center;
  padding: 2rem;
  display: grid;
  justify-items: center;
  row-gap: 2.5rem;
  background: #6943FF
  ;
}

input {
  width: 90%;
  font-size: 5.8rem;
  text-align: center;
  background: none;
  border: 0.2rem solid #B295FF;
  border-radius: 0.5rem;
  color: #fff;
}

button {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  background: #fff;
  border:0;
  border-radius: 0.5rem;
  color:#3D3D3D
}

.result {
  margin: 2rem;
  padding: 1.5rem;
  display: grid;
  height: 10.8rem;
  text-align: center;
  background: #273549;
  place-items: center;
}

header {
  margin: 0 auto;
  padding: 0.7rem 0.7rem 1rem;
  min-width: 15rem;
  width: min-content;
  border-radius: 0;
  text-align: center;
  color: #CCC1FF;
  background: #273549;
  position: sticky;
  top: 0;
  transform: translateX(calc(50vw - 100%));
  border-radius: 0 0 0.5rem 0.5rem;
}

header a {
  color: #CCC1FF;
}